<%= render "header"%>
<div class="wrapper">
    <div class="main">
        <h1 class="history">Note</h1>
        <% @histories.each do |history| %>
            <div class="main-history">
                <div class="history-title">
                    <a>⚾︎<%= link_to history.title, history_path(history.id), method: :get %></a>
                    <%history.tags.each do |tag| %>
                        タグ #<%=tag.name%>
                    <%end%>
                </div>
                <div class="history-name">
                    <a><%=  image_tag history.user.image, class: 'user-index-image' %><%= link_to history.user.name, user_path(history.user_id), method: :get %></a>
                </div>
            </div>
        <% end %>
    </div>
    <div class="said-bar">
        <%= render "side_bar" %>
    </div>
</div>