<%= render "header"%>

<div class="wrapper">    
    <div class="history-new">
        <div class="history-main">
            <% if current_user.id == @history.user_id %>
                <ul class="more_list">
                    <li>
                    <%= link_to '編集', edit_history_path(@history.id), method: :get %>
                    </li>
                    <li>
                    <%= link_to '削除', history_path(@history.id), method: :delete %>
                    </li>
                </ul>
            <% end %>
            <div class="form-top">
                <h1 class="new-form"><%= @history.title %></h1>
            </div>
            <div class="history-name">
                    <a href="#"><%= @history.user.name %></a>
                </div>
            <div class="form-top">
                <h1 class="new-form"><%= @history.text %></h1>
            </div>
        </div>

    </div>
    <div class="said-bar">
        <%= render "side_bar" %>
    </div>
</div>